@import 'antd/dist/antd.css';
.bg-primary {
  background: #6841c6 !important;
}

.text-grey {
  color: #6b7280;
}
.text-primary {
  color: #6841c6;
}
.text-white {
  color: #6b7280;
}

.ant-btn-primary {
  background-color: #6841c6;
  border-color: #6841c6;
}
.ant-btn-primary span {
  color: #fff;
}
.ant-btn-primary:hover {
  background-color: #7855cc;
  border-color: #7855cc;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.font-thin {
  font-weight: 100;
}
.font-extralight {
  font-weight: 200;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}

.list-none {
  list-style: none;
}

.navbar a {
  color: #fff;
}
.navbar a:hover, .navbar a .active {
  font-weight: 700;
  color: #fff;
}
.navbar .navbar-brand img {
  width: 60px;
  height: 50px;
  object-fit: cover;
  padding-right: 10px;
}
.navbar .navbar-nav {
  margin-left: auto;
}

.home-hero {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  background-color: #b0acac;
}
.home-hero .home-hero-bg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-hero .home-hero-logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.home-hero .home-hero-logo img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100%;
}
.home-hero .container-carousel {
  position: absolute;
  top: 170px;
  left: 24%;
  right: auto;
  z-index: 2;
}
.home-hero .container-carousel.hero-carousel-2 {
  right: 24%;
  left: auto;
}
.home-hero .container-carousel img {
  width: 170px;
  height: 270px;
  object-fit: cover;
}
.home-hero .container-carousel .carousel-wrapper {
  width: 170px;
  height: 270px;
}
.home-hero .container-banner {
  position: absolute;
  bottom: 22%;
  left: 11.5%;
  right: auto;
}
.home-hero .container-banner .ant-image {
  display: block;
  height: 0;
  padding-bottom: 65%;
  overflow: hidden;
  position: relative;
  width: 340px;
}
.home-hero .container-banner .ant-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-hero .container-banner.banner-2 {
  right: 17.5%;
  left: auto;
  bottom: 28%;
}
.home-hero .container-banner.banner-2 .ant-image {
  width: 260px;
}

.cta-buttons {
  margin-bottom: 40px;
}
.cta-buttons .cta-button {
  padding: 5px 10px;
  border: 0;
  font-size: 20px;
}
.cta-buttons .cta-button svg {
  display: block;
}

a.btn-apply {
  padding: 10px !important;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #6841c6;
  border: 0;
}
a.btn-apply svg {
  display: block;
  fill: #fff;
}
a.btn-apply:hover {
  background: #482b8f;
}

.jobs-nav-container {
  background-color: #d5caef;
}
.jobs-nav-container .ant-menu {
  background: transparent;
}
.jobs-nav-container .ant-menu .ant-menu-item:hover:after, .jobs-nav-container .ant-menu .ant-menu-item.ant-menu-item-selected:after {
  border-color: #6841c6;
}
.jobs-nav-container .ant-menu .ant-menu-item a {
  background: transparent;
  border: 0;
  padding: 0 10px;
}

#jobs-apply {
  background: #d5caef;
}
#jobs-apply .form-apply .upload-field {
  display: flex;
}